<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                All Contacts
            </p>
        </div>
    </div>
</header>
<div id="body">
    <section>
        <div class="container">
            <div id="allContacts">
                <table class="table table-hover"></table>
            </div>
        </div>
    </section>

</div>

@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            // Send an AJAX requeste
            $.getJSON('api/values')
                .done(function (data) {
                    $.each(data, function (key, item) {
                        // Add a list item for the contact.
                        var contact = '<tr><td style="color:gray"><b>' + formatItem(item.FirstName, item.LastName) + '</b>' +//append Firstname and Lastname
                            '</td></tr>';

                        $('#allContacts table').append(contact);
                    });
                });
        });

        function formatItem(item1, item2) {
            return item1 + ' ' + item2;
        }

    </script>
}
